html {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 10;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  background-color: #1F2937;
  font-size: 1.8rem;
  padding-right: 20px;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  max-width: 75px;
  height: auto;
  padding-left: 30px;
  justify-content: flex-start;
}

#navbar {
display: flex;
  gap: 45px;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #E5E7EB;
  margin-right: 20px;
}

#welcome {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 600px;
  background-color: #1F2937;
  color: #F9FAF8;
}

.welcome-text {
  width: 500px;
  display: flex;
  flex-direction: column;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #3882F6;
  border: none;
}

.welcome-text a {
  text-decoration: none;
}

h1 {
  font-size: 4.8rem;
  font-weight: extra-bold;
  margin: 0;
}

.welcome-text p {
  font-size: 2.4rem;
}

.selfie {
  width: 500px;
  height: auto;
}

#info {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
  color: black;
}

.my-photos {
  display: flex;
  gap: 50px;
}

#info h2 {
  font-size: 3.6rem;
  font-style: extra-bold;
  color: #1F2937;
}

.info {
  border: 2px solid #3884F6;
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  flex-wrap: wrap;
  width: 200px;
  overflow: hidden;
  background-color: black;
}

.photo-info {
  width: 204px;
  height: 275px;
}

.photos {
  width: 100%;
}

.photo-info p {
  color: gray;
}


#quote {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #E5E7EB;
  color: #1F2937;
 
}

blockquote {
  font-size: 3.6rem;
  font-style: italic;
  color: #1F2937;
  padding: 0;
  margin: 30px;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: flex-end;
}

#bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 300px;
}

.blue-box {
  width: 85%;
  background-color:#3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.action p, .action h3 {
  margin: 5px;
  padding: 10px;
}

#bottom button {
  border: 1px solid white;
}

#bottom a {
  color: white;
  text-decoration: none;
}



footer {
  background-color: #1F2937;
  height: 100%;
  margin: 0;
  text-align: center;
  padding: 10px;
  color: #E5E7EB;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color:#E5E7EB;
}

@media screen and (max-width: 900px) {  
  .my-photos {
    flex-direction: column;
  }

  #welcome {
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
    padding-top: 100px;
  }
}